{% extends "::layoutUser.html.twig" %}

{% block title %}CollaBeaver - Inscription{% endblock %}




{% block body %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card mx-4">
				<div class="card-body p-4">

					<h1>Inscription</h1>
					<p class="text-muted">Créez votre compte</p>
					{{ form_start(form) }}

					
					<div class="input-group mb-3">

						
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="icon-user"></i></span>
						</div>
						{{ form_widget(form.username, {'attr': {'class': 'form-control','placeholder':'Pseudo'}}) }}
					</div>
					
					<div class="input-group mb-3">
						
      					
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="icon-lock"></i></span>
						</div>
						{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder':'Mot de passe'}}) }}
					</div>
					
					
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="icon-lock"></i></span>
						</div>
						{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder':'Confirmation du mot de passe'}}) }}
					</div>

					{% if form.vars.errors.form.getErrors(true)|length > 0 %}
						<div class="alert alert-danger" role="alert">
					    	{% for error in form.vars.errors.form.getErrors(true) %}
					   			 <p>{{ error.message }}</p>
					    	{% endfor %}
						</div>
					{% endif %}

					<button type="submit" class="btn btn-block btn-success">Valider l'inscription</button>
								
					
					{{ form_end(form) }}

				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}
