{% extends "::layoutUser.html.twig" %}

{% block title %}CollaBeaver - Plateforme collaborative de projets{% endblock %}

{% block body %}
   
 {% for message in app.flashes('notice') %}
	 
	<div class="col-sm-12 alert alert-success alert-dismissible fade show" role="alert">
	   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	   {{ message }}
	</div>
{% endfor %}
	<a href="#"><img class="banner" src="{{ asset('ForumRessources/src/img/collabeaver_banner.png') }}"></img></a>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Bienvenue sur CollaBeaver, la plateforme qui vous permet de partager vos projets en tous genre !</h4>
    <p class="card-text">Ici, vous pouvez obtenir ou donner de l'aide sur le projet de vos projets, ou bien aider d'autres personnes à en réaliser!</p>
    <p>N'hésitez pas à vous inscrire pour pouvoir participer dès maintenant !</p>

    <a href="{{ path('new_topic') }}" class="btn btn-primary">Proposer un nouveau projet</a>
  </div>
</div>

<div class="row">
	{% for topic in topics %}
	<div class="col-sm-4 col-md-3">
		<div class="card">
			<a href="{{ path('topic', { 'id': topic[0].id }) }}">
				<div class="card-header">
					<p>{{ topic[0].title }}</p>
				</div>
			</a>
			<div class="card-body">
			{{ topic[0].description}}
			</div>
			<div class="card-footer text-muted">
			  			par {{ topic[0].user.username }} le  {{ topic[0].dateheure | date("d/m/Y") }}   <i style="padding-left: 20px" class="fa fa-thumbs-up fa-lg mt-6"></i> <strong>{{ topic[1] }}</strong>
			  </div>
		</div>
	</div>
	{% endfor %}
	
</div>


{% endblock %}
{% block javascripts %}
<script type="text/javascript">

</script>
{% endblock %}

