{% extends "::layoutUser.html.twig" %}

{% block title %}ForumBundle:User:home{% endblock %}

{% block body %}
   
 {% for message in app.flashes('notice') %}
	 
	<div class="col-sm-12 alert alert-success alert-dismissible fade show" role="alert">
	   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	   {{ message }}
	</div>
{% endfor %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Bienvenue sur CollaBeaver !</h4>
	  <p><img src="{{ asset('ForumRessources/src/img/collabeaver_banner.png') }}"></img></p>
    <p class="card-text">Ici, vous pouvez obtenir ou donner de l'aide sur le projet de votre choix !</p>
    <p>N'hésitez pas à vous inscrire pour pouvoir participer dès maintenant !</p>

    <a href="{{ path('new_topic') }}" class="btn btn-primary">Proposer un nouveau projet</a>
  </div>
</div>

<div class="row">
	{% for topic in topics %}
	<div class="col-sm-4 col-md-3">
		<div class="card">
			<a href="{{ path('topic', { 'id': topic.id }) }}">
				<div class="card-header">
					{{ topic.title }}
				</div>
			</a>
			<div class="card-body">
			{{ topic.description}}
			</div>
			<div class="card-footer text-muted">
			  par {{ topic.user.username }} le  DD/MM/YYYY
			  </div>
		</div>
	</div>
	{% endfor %}
	
</div>


{% endblock %}
{% block javascripts %}
<script type="text/javascript">

</script>
{% endblock %}

