{% extends "::layoutUser.html.twig" %}

{% block title %}ForumBundle:User:topic{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
	 
	<div class="col-sm-12 alert alert-success alert-dismissible fade show" role="alert">
	   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	   {{ message }}
	</div>
{% endfor %}
<div class="row">
	<div class="col-sm-12 col-md-9">
		<div class="card">
			<div class="card-header">
		   Le projet :
		  </div>
		  <div class="card-body">
		    <div class="row">
				<div class="col-sm-12 col-md-3">
					<img src="https://images-na.ssl-images-amazon.com/images/I/61-BQ4DBoQL._UY395_.jpg" class="img-fluid" alt="Responsive image">
				</div>
				<div class="col-sm-12 col-md-7">
					<h4 class="card-title">{{ topic.title}}</h4>
					<p class="card-text">{{ topic.description}}</p>
				</div>
				<div class="col-sm-2">
					<div class="row">
                        {% if user_has_voted_topic == false %}
							<button id="buttonvotetopic_{{ topic.id }}" class="btn btn-secondary" onclick="voteTopic({{ topic.id }})"><i class="fa fa-thumbs-up fa-lg mt-6"></i></button>
                        {% else %}
							<button id="buttonvotetopic_{{topic.id }}" class="btn btn-primary" onclick="voteTopic({{ topic.id }})"><i class="fa fa-thumbs-up fa-lg mt-6"></i></button>
                        {% endif %}
						<div id="nbvotetopic_{{topic.id }}" class="card-header"><strong>{{ nb_votes_topic }}</strong></div>
					</div>
				</div>
			</div>
		    
		  </div>
		</div>
	</div>
	<div class="col-sm-12 col-md-3">
		<div class="card">
		  <div class="card-header">
		   Auteur : 
		  </div>
		  <div class="card-body">
		    <h4 class="card-title">{{ topic.user.username}} </h4>
		  </div>
		</div>
	</div>
	<div class="col-sm-12 col-md-9">
		<div class="card">
			<div class="card-header">
		   Commentaires :
		  </div>
		  <div class="card-body">

		  		{% for commentLine in comments %}
		  		<div class="alert alert-secondary" role="alert">
					<div class="row">
						<div class="col-sm-10">
							<p><strong>Message de {{ commentLine[0].user.username}} : </strong></p>
							<p>{{ commentLine[0].content}}</p>
						</div>
						<div class="col-sm-2">
							<div class="row">
								{% if commentLine[2] == false %}
									<button id="buttonvote_{{ commentLine[0].id }}" class="btn btn-secondary" onclick="voteComment({{ commentLine[0].id }})"><i class="fa fa-thumbs-up fa-lg mt-6"></i></button>
								{% else %}
									<button id="buttonvote_{{commentLine[0].id }}" class="btn btn-primary" onclick="voteComment({{ commentLine[0].id }})"><i class="fa fa-thumbs-up fa-lg mt-6"></i></button>
								{% endif %}
							<div id="nbvote_{{commentLine[0].id }}" class="card-header"><strong>{{ commentLine[1] }}</strong></div>
							</div>
						</div>
					</div>
				</div>
		  		{% endfor %}
			  <strong>Ajouter un commentaire : </strong>
			  {{ form_start(comment_form) }}
			  <div class="form-group">
              {{ form_widget(comment_form.content, {'attr': {'class': 'form-control'}}) }}
			  </div>
			  {{ form_widget(comment_form.send, {'attr': {'class': 'btn btn-primary'}, 'label':'Envoyer'}) }}
              {{ form_end(comment_form) }}
		  </div>
		</div>
	</div>
</div>





{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		function voteComment(id){
            $.ajax({
                url: "{{ path('vote_message') }}",
                method: "post",
                data: {id:id}
            }).done(function(data){
                refreshVoteComment(id,data);
			});
		}

		function refreshVoteComment(id,data){
		    $button = $("#buttonvote_"+id);
		    $nbvote = $("#nbvote_"+id);
		    $nbvote.text(data['nbvotes']);
		    if(data['uservoted']){
                $button.removeClass("btn btn-secondary");
                $button.addClass("btn btn-primary");
			}
			else{
                $button.removeClass("btn btn-primary");
                $button.addClass("btn btn-secondary");
			}
		}

        function voteTopic(id){
            $.ajax({
                url: "{{ path('vote_topic') }}",
                method: "post",
                data: {id:id}
            }).done(function(data){
                refreshVoteTopic(id,data);
            });
        }

        function refreshVoteTopic(id,data){
            $button = $("#buttonvotetopic_"+id);
            $nbvote = $("#nbvotetopic_"+id);
            $nbvote.text(data['nbvotes']);
            if(data['uservoted']){
                $button.removeClass("btn btn-secondary");
                $button.addClass("btn btn-primary");
            }
            else{
                $button.removeClass("btn btn-primary");
                $button.addClass("btn btn-secondary");
            }
        }
	</script>
{% endblock %}